<div class="social {{layout}}">
  {{#if load.facebook}}
  <div class="fb-share-button" data-href="{{domain}}" data-type="button_count"></div>
  {{/if}}

  {{#if load.hackernews}}
  <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{title}}" data-url="{{domain}}" data-count="horizontal" data-style="facebook">
  Vote on Hacker News
  </a>
  {{/if}}

  {{#if load.twitter}}
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{via}}" data-url="{{domain}}"></a>
  {{/if}}
</div>
