<section class="navigation {{class}}" id="navigation">
  <h1>
    <a href="/" class="logo" title="Back to the homepage">Nodejitsu</a>
  </h1>
  <nav class="row">
    <a href="#navigation" class="mobile btn ss-rows"></a>

    {{#navigation-links navigation false}}
    <a href="{{href}}"{{target}}{{{active}}}>
      {{name}}
    </a>
    {{/navigation-links}}

    <section data-pagelet="loginout"></section>
    <section data-pagelet="signup"></section>
  </nav>
</section>
{{#if subnavigation}}
<section class="subnavigation">
  <nav class="row">
    {{#navigation-links subnavigation true}}
    <a href="{{href}}"{{target}}{{{active}}}>
      {{name}}
    </a>
    {{/navigation-links}}
  </nav>
</section>
{{/if}}
<section data-pagelet="login"></section>