<footer class="doormat">
  <section class="row">
    {{#footer-column}}
    <dl class="twocol">
      <dt>{{name}}</dt>
      {{#each links}}
      <dd>
        <a href="{{href}}" target="{{target}}">{{text}}</a>
      </dd>
      {{/each}}
    </dl>
    {{/footer-column}}

    <section class="newsletter twocol right">
      <div data-pagelet="mailchimp"></div>
      <div data-pagelet="social"></div>
      <div class="copyright right">
        {{{copyright}}}
      </div>
    </section>
  </section>

  {{#if credits}}
  <section class="credits row">{{credits}}</section>
  {{/if}}
</footer>