<footer class="doormat">
  <section class="row">
    <%
      var n = navigation.length > 5 ? 5 : navigation.length;
      for (var i = 0; i < n; i++) {
        var column = navigation[i];
    %>
    <dl class="twocol">
      <dt><%- column.name %></dt>
      <% Object.keys(column.links).forEach(function footerColumnLinks(key) { %>
      <dd>
        <a href="<%- column.links[key] %>"><%- key %></a>
      </dd>
      <% }) %>
    </dl>
    <% } %>

    <% if (mailinglist || social) { %>
    <dl class="newsletter twocol right">
      <% if (mailinglist) { %>
      <dt>Stay connected, join our mailing list</dt>
      <dd>
        <form action="<%- mailinglist.action -%>" method="POST">
          <input type="hidden" name="u" value="<%- mailinglist.u -%>">
          <input type="hidden" name="id" value="<%- mailinglist.id -%>">
          <input type="email" autocapitalize="off" autocorrect="off" placeholder="Your e-mail address" name="MERGE0" required>
          <%- app.submit({ type: 'icon', class: 'right', text: 'subscribe' }) %>
        </form>
      </dd>
      <% } if (social) { %>
      <dd>
        <ul class="social">
          <% if (social.twitter) { %>
          <li>
            <a href="https://twitter.com/<%- social.twitter -%>" class="ss-twitter ss-social-circle" title="Follow @<%- social.twitter -%> on Twitter"></a>
          </li>
          <% } if (social.github) { %>
          <li>
            <a href="https://github.com/<%- social.github -%>" class="ss-octocat ss-social-circle" title="Fork @<%- social.github -%> on Github"></a>
          </li>
          <% } %>
          <li class="copyright right">
            <%- copyright %>
          </li>
        </ul>
      </dd>
      <% } %>
    </dl>
    <% } %>
  </section>
</footer>
