<nav class="pills<%= locals.class ? ' ' + locals.class : '' %>">
  <%
    navigation.forEach(function generate(pill) {
      if (page === pill.page) pill.class = (pill.class || '') + ' active';
  %>
  <a
    href="<%= pill.href || '#' %>"
    data-id="<%= pill.page %>"
    <%- pill.class ? 'class="' + pill.class + '"' : '' %>
    <%- pill.swap ? 'data-swap="' + pill.swap.hide + '@' + pill.swap.show + '"' : '' %>
    <%- pill.effect ? 'data-effect="' + pill.effect + '"' : '' %>>
    <%= pill.name %>
  </a>
  <% }) %>
</nav>
