<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge;chrome=1">
  <title><%= title %> | scalenpm.org</title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords.join(',') %>">
  <meta name="robots" content="<%= 'robots' in locals ? robots : 'noindex,nofollow' %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nodejitsu Inc.">
  <link rel="shortcut icon" href="/favicon.png">
  <% stylesheets.forEach(function (sheet) { %>
  <link rel="stylesheet" href="<%= sheet %>">
  <% }) %>
  <script type="text/javascript" src="//use.typekit.net/gzx4hto.js"></script>
  <script type="text/javascript">
    try{Typekit.load();}catch(e){};document.documentElement.className=''
  </script>
  <%- extension ? extension : '' %>
</head>
<body class="container">
